.container {
  height: 60rem;
  max-width: 50rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
html, body {
  padding: 0;
  margin: 0;
  height: 60rem;
}
header {
  padding: 0;
  margin: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
main {
  margin: 10px;
  height: 75%;
  width: 75%;
  background-color: blueviolet;
}
aside {
  margin: 10px;
  height: 75%;
  width: 12.5%;
  background-color: darkslateblue;
}
footer {
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;
  background-color: greenyellow;
}
nav {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  background-color: dimgray;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
